.Flow {
  @keyframes dashedFlow {
    to {
      stroke-dashoffset: -60;
    }
  }

  $node-types: (
    'Event': 'magenta',
    'End': 'turquoise',
    'UserChoice': 'yellow',
    'ConditionCheck': 'blue',
    'ItemRequired': 'pink',
    'Goto': 'purple',
  );

  $edge-types: (
    'Event': 'magenta',
    'End': 'turquoise',
    'UserChoice': 'yellow',
    'ItemRequired': 'pink',
  );

  $edge-conditions: (
    'Success': 'green',
    'Failure': 'red',
  );

  &Container {
    width: 100%;
    height: calc(100vh - 210px);

    :global(.react-flow__attribution) {
      border: var(--border-line-regular) solid var(--border-color-default);
      background-color: var(--body-background-color);

      a {
        color: var(--text-color);
      }
    }

    :global(.react-flow__controls) {
      border: var(--border-line-large) solid var(--border-color-default);
      background-color: var(--body-background-color);
    }

    :global(.react-flow__controls-button) {
      border-right: var(--border-line-regular) solid var(--border-color-default) !important;
      background-color: var(--body-background-color);
      span > svg {
        max-width: unset;
        max-height: unset;
      }
    }
    :global(.react-flow__controls-button:last-child) {
      border-right: none !important;
    }
  }

  &Handle {
    width: 1rem;
    height: 1rem;

    &Disabled {
      width: 0.25rem;
      height: 0.25rem;
    }

    &Success {
      top: 30%;
      background-color: var(--color-green);
    }

    &Failure {
      top: 70%;
      background-color: var(--color-red);
    }
  }

  &Edge {
    &Goto {
      animation: dashedFlow 0.5s linear infinite;
      stroke: var(--color-purple-200);
      stroke-dasharray: 10 10;
      stroke-width: 3;
    }

    @mixin edge-conditions-variant($color) {
      stroke: var(--color-#{$color});
      stroke-width: 3;
    }

    @mixin edge-variant($color) {
      animation: dashedFlow 1s linear infinite;
      stroke: var(--color-#{$color}-200);
      stroke-dasharray: 10 20;
      stroke-width: 3;
    }

    @each $name, $color in $edge-conditions {
      &#{$name} {
        @include edge-conditions-variant($color);
      }
    }

    @each $name, $color in $edge-types {
      &#{$name} {
        @include edge-variant($color);
      }
    }
  }

  &Node {
    * {
      color: white;
    }

    @mixin node-variant($color) {
      border-color: var(--color-#{$color}-50) !important;

      & > * {
        border-color: var(--color-#{$color}-50) !important;
        background-color: var(--color-#{$color}-200);
      }

      button:hover {
        background-color: var(--color-#{$color}) !important;
      }
    }

    @each $name, $color in $node-types {
      &#{$name} {
        @include node-variant($color);
      }
    }
  }
}
