.SideNavHeader {
  &Container {
    height: 64px;
  }

  &Logo {
    min-width: 2.5rem;
    height: 48px;
    transition: height 0.2s ease;

    &Closed {
      height: 2.5rem;
    }

    & svg {
      max-width: 100%;
      height: 100%;
    }
  }

  &Title {
    overflow: hidden;
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.2s ease;

    &Closed {
      width: 0;
      transform: scaleX(0);
    }
  }
}
